.foot-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: @bottomFooter;
  line-height: @bottomFooter;
  font-size: 12px;
}